body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #fcfcfa;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times;
    color: #6b4c3a;
    font-size: 38px;
    margin: 0 auto;
}
h2 {
    color: #332721;
    font-size: 15px;
}
p {
    margin:  0 auto;
    color: #473c38;
}
ul {
    margin: 0 auto;
}
li {
    margin: 0 auto;
    color: #473c38;
}
a{
    text-decoration: none;
    color: #473c38;
}
img {
    margin: 0 auto;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    max-height: 450px;
    background-color: #f8f7f2;
    margin: 0 auto;
}
.novice {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: #332721;
    font-size: 22px;
    margin: 0 auto;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px;
 }
#main {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    max-height: 750px;
    margin: 0 auto;
}
#footer {
    display: flex;
    align-items: center;
    max-width: 1440px;
    max-height: 80px;
    height: 50px;
    background-color: #ffff;
}
